<%= javascript_include_tag "heroes" %>
<%= stylesheet_link_tag "heroes" %>

<div class="container">
    <div id="hero-select-container">
        <div>Select a hero</div>
        <select id="hero_select">
            <%= options_from_collection_for_select(@heroes, :id, :name) %>
        </select>
    </div>
    
    <h3>Stats</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-4">
                    <div>Merge</div>
                    <div>
                        <select class="form-control" id="merge_select">
                            <%= options_for_select([["", 0], ["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9", 9], ["10", 10]]) %>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div>Boon</div>
                    <div>
                        <select class="form-control" id="boon_select">
                            <%= options_for_select([[""], ["ATK"], ["DEF"], ["HP"], ["RES"], ["SPD"]]) %>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div>Bane</div>
                    <div>
                        <select class="form-control" id="bane_select">
                            <%= options_for_select([[""], ["ATK"], ["DEF"], ["HP"], ["RES"], ["SPD"]]) %>    
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-6">
            <div class = "row">
                <div class="col-4 stat-group">
                    <div>HP</div>
                    <div><input readonly id="stat_health" class="form-control" type="number" value=<%=@hero.base_health%>></div>
                </div>
                
                <div class="col-4 stat-group">
                    <div>ATK</div>
                    <div><input readonly id="stat_attack" class="form-control" type="number" value=<%=@hero.base_attack%>></div>
                </div>
                
                <div class="col-4 stat-group">
                    <div>SPD</div>
                    <div><input readonly id="stat_speed" class="form-control" type="number" value=<%=@hero.base_speed%>></div>
                </div>
            </div>
        </div>
        <div class = "col-md-6">
            <div class = "row">
                <div class="col-4 stat-group">
                    <div>DEF</div>
                    <div><input readonly id="stat_defense" class="form-control" type="number" value=<%=@hero.base_defense%>></div>
                </div>
                
                <div class="col-4 stat-group">
                    <div>RES</div>
                    <div><input readonly  id="stat_resistance" class="form-control" type="number" value=<%=@hero.base_resistance%>></div>
                </div>
                
                <div class="col-4 stat-group">
                    <div>Total</div>
                    <div><input readonly id="stat_total" class="form-control" type="number" value=<%=@hero.base_health + @hero.base_attack + @hero.base_defense + @hero.base_resistance + @hero.base_speed%>></div>
                </div>
            </div>
        </div>
        
    </div>
    
    <h3>Weapon</h3>
    <div class="row">
        <div class="col-sm-6">
            <select id="weapon_select" class="form-control" placeholder="No skill">
                <option></option>
                <%= options_from_collection_for_select(@weapons, :id, :name) %>
            </select>
            <div id="weapon_heroes" class="info-container flex-container"></div>
        </div>
        <div class="col-sm-6" id="weapon_descriptions">
            <div class="info-container description-container">
                <div class="description-text" id="weapon">
                </div>
                <div class="description-text" id="weapon_sp">
                </div>
                <div class="description-text" id="weapon_might">
                </div>
                <div class="description-text" id="weapon_range">
                </div>
            </div>
        </div>
    </div>
    
    <h3>Assist</h3>
    <div class="row">
        <div class="col-sm-6">
            <select id="assist_select" class="form-control" placeholder="No skill">
                <option></option>
                <%= options_from_collection_for_select(@assists, :id, :name) %>
            </select>
            <div id="assist_heroes" class="info-container flex-container"></div>
        </div>
        <div class="col-sm-6" id="assist_descriptions">
            <div class="info-container description-container">
                <div class="description-text" id="assist">
                </div>
                <div class="description-text" id="assist_sp">
                </div>
            </div>
        </div>
    </div>
    
    <h3>Special</h3>
    <div class="row">
        <div class="col-sm-6">
            <select id="special_select" class="form-control" placeholder="No skill">
                <option></option>
                <%= options_from_collection_for_select(@specials, :id, :name) %>
            </select>
            <div id="special_heroes" class="info-container flex-container"></div>
        </div>
        <div class="col-sm-6" id="special_descriptions">
            <div class="info-container description-container">
                <div class="description-text" id="special">
                </div>
                <div class="description-text" id="special_sp">
                </div>
                <div class="description-text" id="special_cooldown">
                </div>
            </div>
        </div>
    </div>
        
    <h3>A Passive</h3>
    <div class="row">
        <div class="col-sm-6">
            <select id="a_passive_select" class="form-control" placeholder="No skill">
                <option></option>
                <%= options_from_collection_for_select(@a_passives, :id, :name) %>
            </select>
            <div id="a_passive_heroes" class="info-container flex-container"></div>
        </div>
        <div class="col-sm-6" id="a_passive_descriptions">
            <div class="info-container description-container">
                <div class="description-text" id="a_passive">
                </div>
                <div class="description-text" id="a_passive_sp">
                </div>
            </div>
        </div>
    </div>
    
    <h3>B Passive</h3>
    <div class="row">
        <div class="col-sm-6">
            <select id="b_passive_select" class="form-control" placeholder="No skill">
                <option></option>
                <%= options_from_collection_for_select(@b_passives, :id, :name) %>
            </select>
            <div id="b_passive_heroes" class="info-container flex-container"></div>
        </div>
        <div class="col-sm-6" id="b_passive_descriptions">
            <div class="info-container description-container">
                <div class="description-text" id="b_passive">
                </div>
                <div class="description-text" id="b_passive_sp">
                </div>
            </div>
        </div>
    </div>
    
    <h3>C Passive</h3>
    <div class="row">
        <div class="col-sm-6">
            <select id="c_passive_select" class="form-control" placeholder="No skill">
                <option></option>
                <%= options_from_collection_for_select(@c_passives, :id, :name) %>
            </select>
            <div id="c_passive_heroes" class="info-container flex-container"></div>
        </div>
        <div class="col-sm-6" id="c_passive_descriptions">
            <div class="info-container description-container">
                <div class="description-text" id="c_passive">
                </div>
                <div class="description-text" id="c_passive_sp">
                </div>
            </div>
        </div>
    </div>
</div>